html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}

body {
    display:flex;
    flex-direction:column;
    margin:0;
    flex:auto;
    min-height: 100vh;
}
header {
    display:flex;
    justify-content:center;

}

main {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.score-board {
    display:flex;
    flex-direction:column;
}
.score-message {
    display:flex;
    justify-content:center;
}

.game {

}

.score-container {
    display:flex;
    flex-direction:row;

}

.score-choice {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:16px;

}

.button-container {
    display:flex;
    gap:32px;

}

.button {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }
  .button img {
    width: 150px;
  }
  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
  }

footer {

}

