@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/*
went back and changed most sizing to em or rem for eventual mobile friendly transition
added a wrapper to center game and changed color palette to something less harsh
*/
html, body, #wrapper {
    width: 100%;
    min-height: 100%;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:0;
    flex:auto;
    min-height: 100vh;
    font-family: 'Staatliches', cursive;
    background-color:#8ee4af;
    color:#edf5e1;
    
}
header {
    display:flex;
    justify-content:center;
    padding: 0.5rem;
}

.wrapper {
    width:50%;
    height:75%;
    margin:0px;
    background-color:#379683;
    border:0.5em solid #05386b;
    border-radius:1em;
}
main {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.score-board {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:3rem;
    border-radius: 0.5rem;;
}
.score-message {
    display:flex;
    justify-content:center;
}

.game {
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    margin: 32px 72px 72px;

}

.score-container {
    display:flex;
    flex-direction:row;
    gap:64px;

}

.score-choice {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 7rem;
    height: 7rem;
    border: 2px solid #05386b;
    border-radius:50%;
    margin: 0 25px;
    gap:16px;

}

.tie-choice {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 3rem;
    height: 6rem;
}

.button-container {
    display:flex;
    justify-content:space-around;
    gap:.5rem;
    border:3px solid #05386b;
    border-radius:1rem;
    padding:0.25em 0em 0.25em 0em;

}

.button {
    width: 9rem;
    height: 9rem;
    border: 2px solid #05386b;
    border-radius:50%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
  }
  .button-text {
    font-size:3rem;
  }
  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 0.5rem 1px;
  }

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.5em;

}

